@charset "UTF-8";

body {
    background-color: rgb(146, 255, 169);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

h1#principal {
    text-align: center;
    font-size: 3em;
    background-color: rgb(0, 82, 0);
    color: white;
}

h2 {
    color: rgb(0, 82, 0)
}

h2.básico {
    color: rgb(12, 143, 0);
}

h2.intermediario {
    color: rgb(134, 143, 0);
}

h2.avançado {
    color: rgb(143, 0, 0);
}
